name: Tor IP Changer Script

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y tor && pip install requests

    - name: Run script
      run: |
        sudo python3 IP-Changer.py
      env:
        PYTHONUNBUFFERED: 1
